<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Nosotros</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or "Aprender también transforma."}</%block>
        </h1>
        <p>
            <%block name="pagecontent">${page_content or "Esta es la plataforma de aprendizaje de Paradigma, un estudio de estrategia, creatividad y comunicación."}</%block>
        </p>
        <a class="paradigma-static-link" href="https://paradigma.ec/about">Conoce el estudio</a>
    </section>
</main>
