<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Contacto</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or "Hablemos."}</%block>
        </h1>
        <p>
            <%block name="pagecontent">${page_content or "Cuéntanos qué necesitas y conectaremos tu consulta con el equipo indicado."}</%block>
        </p>
        <a class="paradigma-static-link" href="https://paradigma.ec/contact">Ir a contacto</a>
    </section>
</main>
