<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Comunidad</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or "Conecta con Paradigma."}</%block>
        </h1>
        <p>
            <%block name="pagecontent">${page_content or "Descubre nuestras iniciativas y formas de colaboración."}</%block>
        </p>
        <a class="paradigma-static-link" href="https://paradigma.ec/community">Conocer la comunidad</a>
    </section>
</main>
